<!DOCTYPE html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
I'm glad you want to play!  But, first, I need some information.<br><br>
<form action="/madlib"> I need the name of a person: <input type="text" name="person"> <br><br>
    Now, I need a color: <select type="dropdown" name="color">
                            <option value="red">Red</option>
                            <option value="orange">Orange</option>
                            <option value="yellow">Yellow</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="purple">Purple</option></select>
    <br><br>
    Now, I need a noun: <input type="text" name="noun"><br><br>
    Finally, I need an adjective:<br><br> 
    <input type="radio" name="adjective" value="Swimmingly">Swimmingly<br>
    <input type="radio" name="adjective" value="Listlessly">Listlessly<br>
    <input type="radio" name="adjective" value="Achingly">Achingly<br>
    <input type="radio" name="adjective" value="Longingly">Longingly<br>
    <input type="radio" name="adjective" value="Verily">Verily<br>
    <input type="radio" name="adjective" value="Positively">Positively<br>
    <input type="radio" name="adjective" value="Curtiously">Curtiously<br>
    <input type="radio" name="adjective" value="Lamely">Lamely<br>
    <input type="radio" name="adjective" value="Swiftly">Swiftly<br>
    <br><br>
    <input type="submit">
   </form> 
</body>
</html>