<!DOCTYPE html>
<html>
    <head>
      <title>A Game</title>
    </head>
    <body>
    I'm glad you want to play!  But, first, I need some information.<br><br>
        <form action="/madlib"> I need the name of a person: <input type="text" name="person"> <br><br>
            Now, I need a color: 
            <select type="dropdown" name="color">
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option></select><br><br>
            Now, I need a noun: <input type="text" name="noun"><br><br>
            Finally, I need an adjective:<br><br> 
            <input type="radio" name="adjective" value="adorable">adorable<br>
            <input type="radio" name="adjective" value="delightful">delightful<br>
            <input type="radio" name="adjective" value="calm">calm<br>
            <input type="radio" name="adjective" value="energetic">energetic<br>
            <input type="radio" name="adjective" value="vengeful">vengeful<br>
            <input type="radio" name="adjective" value="perfect">perfect<br>
            <input type="radio" name="adjective" value="pleasant">pleasant<br>
            <input type="radio" name="adjective" value="sparkling">sparkling<br>
            <input type="radio" name="adjective" value="clumsy">clumsy<br>
            <br><br>
            Enter your chaos: 
            <input type="radio" name="phenomena" value="earthquake"> earthquake 
            <input type="radio" name="phenomena" value="tornado"> tornado 
            <input type="radio" name="phenomena" value="volcano"> volcanic eruption
            <input type="radio" name="phenomena" value="aurora borealis"> aurora borealis 
            <input type="radio" name="phenomena" value="thurderstorm"> thuderstorm  
            <br><br>
            We need animal you: <input type="text" name="animal">
            <br><br>
            A verb would nice: <input type="text" name="verb">
            <br><br> 
            <input type="submit">
           </form> 
    </body>
</html>